#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}

.logo {
	height: 6em;
	padding: 1.5em;
	will-change: filter;
	transition: filter 300ms;
}
.logo:hover {
	filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
	filter: drop-shadow(0 0 2em #61dafbaa);
}
.logo.cloudflare:hover {
	filter: drop-shadow(0 0 2em #f6821faa);
}

@keyframes logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@media (prefers-reduced-motion: no-preference) {
	a:nth-of-type(2) .logo {
		animation: logo-spin infinite 20s linear;
	}
}

.card {
	padding: 2em;
}

.read-the-docs {
	color: #888;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 22px;
  margin-top: 40px;
}

.gallery-img {
  width: 100%;
  border-radius: 12px;
  cursor: pointer;
  transition: .25s;
  box-shadow: 0 8px 24px rgba(0, 0, 0, .15);
}

.gallery-img:hover {
  transform: translateY(-4px);
  box-shadow: 0 14px 30px rgba(0, 0, 0, .25);
}

.preview-mask {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, .82);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.preview-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.preview-img {
  max-width: 88vw;
  max-height: 80vh;
  border-radius: 12px;
  box-shadow: 0 15px 50px rgba(0, 0, 0, .4);
}

.preview-title {
  margin-top: 18px;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
}

.preview-index {
  margin-top: 8px;
  color: #bbb;
  font-size: 14px;
}

.nav-btn {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  width: 56px;
  height: 56px;
  border: none;
  border-radius: 50%;
  background: rgba(255, 255, 255, .12);
  backdrop-filter: blur(14px);

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  color: white;

  transition: all .2s ease;
}

.nav-btn:hover {
  background: rgba(255, 255, 255, .22);
  transform: translateY(-50%) scale(1.08);
}

.nav-btn svg {
  width: 30px;
  height: 30px;
}

.left {
  left: 32px;
}

.right {
  right: 32px;
}
